body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e8e8e8;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform ease 0.3s;
}

.container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}

.container span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 8px;
    -webkit-box-reflect: below 0px linear-gradient(transparent 50%, rgba(0, 0, 0, .3));
}

.btn-container {
    position: relative;
    width: 80%;
}

.btn {
    position: absolute;
    bottom: -80px;
    background-color: rgb(157, 0, 255);
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    color: white;
    cursor: pointer;
    filter: brightness(0.7);
}

.btn:hover {
    filter: brightness(1);
}

#prev {
    left: 20%;
}

#next {
    right: 20%;
}