* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, violet, skyblue);
    font-family: monospace;
}

.container {
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    background-color: rgba(255, 255, 255, .3);
    color: rgb(11, 63, 105);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

.heading {
    font-size: 32px;
}

.temp-box {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}

.input {
    padding: 5px;
    float: right;
    width: 220px;
    outline: none;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .3);
    font-size: 18px;
}

.input::placeholder {
    color: rgb(192, 188, 188);
}